@mixin subhead(
  $margin-bottom: 20px,
) {
  text-transform: uppercase;
  font-family: $font-gillsans;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  color: $gray;

  margin-bottom: $margin-bottom;
}

@mixin heading(
  $margin-bottom: 20px,
) {
  font-family: $font-gillsans;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1px;
  text-align: center;
  color: black;

  margin-bottom: $margin-bottom;
}

@mixin body(
  $margin-bottom: 20px,
) {
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: $darkgray;

  margin-bottom: $margin-bottom;
}
