<div class="application-call">
  <div class="application-call__content">
    <img class="application-call-img "src="/assets/img/application-call.png" alt="Appel à candidature">
    <div>
      <h2 class="application-call__subhead">Élections municipales</h2>
      <h1 class="application-call__title">Engagez-vous pour votre commune</h1>
    </div>
  </div>
  <a class="application-call__button" href="https://en-marche.fr/appel-a-engagement" target="_blank" rel="noopener">Je candidate</a>
  <div class="national-scarf">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
