.l-home {
  min-height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  position: relative;

  > main {
    max-width: 667px;
    margin: auto;

    padding: 20px;

    @include media('>=medium') {
      margin-bottom: 100px;
    }

    @include media('>=large') {
      padding: 5px;
    }
  }
}

.wrapper__l {
    display: block;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

// city page
#section-1 {
    display: flex;
    flex-direction: column;

    @include media('>=1024px') {
      flex-direction: row;
    }

    .el:nth-child(1) {
        text-align: center;
        width: 100%;
        margin: 0 auto 40px;

        @include media('>=1024px') {
          width: 485px;
        }
    }

    .el:nth-child(2) {
        text-align: center;
        flex-basis: auto;
        flex-grow: 1;
        margin-bottom: 40px;
    }
}
