.l-home {
  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  position: relative;

  > main {
    max-width: 667px;
    margin: auto;

    padding: 20px;

    @include media('>=medium') {
      margin-bottom: 100px;
    }

    @include media('>=large') {
      padding: 5px;
    }
  }
}

.wrapper__l {
    display: block;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
