.l-home {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  > main {
    max-width: 667px;
    margin: auto;

    padding: 20px;

    @include media('>=large') {
      padding: 5px;
    }
  }
}
