// COLORS

$darkgray: #444444;
$gray: #8c8c8c;
$lightgray: #e5e5e5;
// $lessoffwhite: #f6f6f6;
// $offwhite: #fafafa;

$blue: #1d5fd1;
$pale-gray: #f6f9fc;
$green-blue: #00aa7d;
$blue-gray: #c4ccd9;
$pale-blue: #EBF4FF;
$pale-green: #d1f6dc;
$azure-two: #0496ff;

$altgray: #7B889B;
$altgray-light: #D6DFE9;

// socials
$blue-twitter: #1da1f2;
$blue-facebook: #4172b8;
$blue-telegram: #2ca5e0;

// markers
$azure: #009de4;
$watermelon: #fe495c;
$marigold: #ffc000;
$green-haze: #00B43A;
$salmon: #FF8A5C;
$brillant-rose: #FF7CAF;
$governor-bay: #756BD4;
$coral-tree: #BB7171;
$niagara: #05A19C;
