// COLORS

$darkgray: #444444;
$gray: #8c8c8c;
// $lightgray: #dddddd;
// $lessoffwhite: #f6f6f6;
// $offwhite: #fafafa;

$blue: #1d5fd1;
$azure: #009de4;
$pale-gray: #ebf4ff;
$watermelon: #fe495c;
$marigold: #ffc000;
$green-blue: #00aa7d;
