<footer class="footer">
  <div class="footer-body">
      <div class="left">
          <a href="https://contact.en-marche.fr/" rel="noopener noreferrer" target="_blank">
            Écrivez-nous
          </a>
      </div>
      <div class="right">
          <a href="https://en-marche.fr" target="_blank" rel="noopener noreferrer">
            © La République En Marche
          </a>
          <a
          href="https://en-marche.fr/mentions-legales" target="_blank" rel="noopener noreferrer">
            Mentions Légales
          </a>
          <a href="https://en-marche.fr/politique-cookies" target="_blank" rel="noopener noreferrer">
            Politique de Cookies
          </a>
      </div>
  </div>
</footer>
