.city-search {
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  @include media('>=medium') {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  > * + * {
    margin-top: 17px;

    @include media('>=medium') {
      margin-top: 0;

      margin-left: 12px;
    }
  }
}

.city-search__input {

  @include media('>=medium') {
    flex-basis: 170px;
  }

  @include media('>=large') {
    flex-basis: 220px;
  }

  > input {
    @include input;
    height: 100%;
  }
}

.city-search__dropdown {
  position: relative;

  @include media('>=medium') {
    flex-grow: 1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;

    width: 0;
    height: 0;

    border: solid 6px transparent;
    border-bottom-width: 0;
    border-top-color: $lightgray;

    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  > select {
    @include input($padding: 18px 24px 18px 12px);

    height: 100%;

    &[disabled] {
      color: $gray;
      background-color: $pale-gray;
    }

  }
}

.city-search__submit {

  @include media('>=medium') {
    flex-basis: 96px;
  }

  > button {
    @include blue-button;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .icon-search {
    fill: white;
    width: 30px;
    height: 30px;
  }
}
