.footer {
  font-family: $font-roboto;
  padding: 0 15px;
  margin: 25px 0;
  color: $darkgray;
}

.footer-body {
  font-size: 14px;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  text-align: center;

  @include media(">=medium") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }

  > a {
    opacity: 0.5;
    display: block;
    padding: 0 5px;
    margin-bottom: 15px;

    transition: opacity 125ms ease;
    color: $darkgray;

    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    @include media(">=medium") {
      margin-bottom: 0;
    }
  }
}
