.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: $font-roboto;
}

.footer-body {
  font-size: 14px;
  padding: 40px 0;
  display: flex;
  justify-content: flex-start;

  @include media(">=large") {
    justify-content: space-between;

  }

  div.left,
  div.right  {
      display: flex;
      flex-direction: column;
      margin-right: 50px;

      @include media(">=large") {
        flex-direction: row;
        margin-right: 0;
      }
  }

  a, button {
    opacity: 0.75;
    display: block;
    margin: 0 10px 10px;
    transition: opacity 125ms ease;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    @include media(">=large") {
      margin-bottom: 0;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: left;
  }

  .left a, .left button {
      color: $darkgray;
  }

  .right a {
      color: $gray;
  }
}
