.header-toolbar {
  background-color: $pale-gray;
  margin-bottom: 50px;

  &__wrapper {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
  }
}

.header-toolbar__center {
  margin-left: auto;

  @include media('>=medium') {
    margin-left: 20px;
    flex: 1;
  }
}

.header-search {
  @include button($padding: 4px);
  display: flex;
  align-items: center;

  transition: color 125ms ease;

  .icon-search {
    width: 36px;
    height: 36px;

    transition: fill 125ms ease;
  }

  &:hover {
    color: $blue;

    .icon-search {
        fill: $blue;
    }
  }

  &__label {
      margin-left: 5px;
  }
}

.header-toolbar__feedback-button {
    height: 30px;

  .icon-more {
    width: 30px;
    height: 30px;
  }
}

.header-feedback {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.vertical {
    background: white;
    padding: 10px;
    border-radius: 3px;

    box-shadow: 0 0 5px 5px rgba($pale-gray, .75);
    flex-direction: column;
    align-items: stretch;

    .header-feedback__share {
      flex-direction: column;
      align-items: stretch;
    }

    .header-feedback__share-label {
      margin-right: 0;
    }

    .header-feedback__email {
      margin-right: 0;
      padding-bottom: 8px;
      border-bottom: 1px solid $lightgray;
      margin-bottom: 5px;
    }
  }

  &__share {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 1;
  }

  &__share-label {
    font-family: $font-roboto;
    font-size: 16px;
    line-height: 1.5;
    color: $altgray;
    margin-right: 10px;
  }

  &__share-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 1;

    .header-toolbar__button {
      width: 46px;
      height: 46px;
      border: 1px solid $altgray-light;
      margin-left: 10px;
      border-radius: 50%;
      transition: all 125ms ease-in;

      &:hover {
          border-color: $altgray;
      }
    }
  }
}

.header-feedback__email {
  @include button($font-size: 16px);

  margin-right: 25px;

  transition: color 125ms ease;

  &:hover {
    color: $blue;
  }
}

.header-toolbar__button {
  @include button;
  outline: 0;

  transition: color 125ms ease;

  &:hover {
    color: $blue;
  }
}

.header-toolbar__link {
  color: black;

  transition: color 125ms ease;

  &:hover {
    color: $blue;
  }
}
