.map {
  position: relative;

  margin-bottom: 30px;

  @include media('>=medium') {
    margin-bottom: 40px;
  }

  @include media('>=large') {
    display: flex;
    margin-bottom: 50px;
  }
}

.map-ui {
  height: 500px;

  @include media('>=large') {
    flex: 1;
    margin-right: 27px;

    + .map-filters {
      flex-basis: 300px;
      padding-top: 10px;
    }
  }
}

.map-marker {
  width: 28px;
  height: 42px;

  > svg {
    width: 100%;
    height: 100%;
  }
}

.map-filter-control {
  position: absolute;
  top: 20px;
  right: 20px;
}

.map-filter-button {
  @include blue-button;

  > .icon-controls {
    width: 30px;
    height: 30px;
    fill: white;
  }
}

.map-filter-modal__overlay {
  background-color: rgba($darkgray, 0.5);

  @include media('>=medium') {
    display: flex;

    align-items: center;
    justify-content: center;
  }
}

.map-filter-modal {
  bottom: 0;
  width: 100%;

  max-width: 375px;

  padding: 20px;
  border-radius: 5px;
  box-shadow: none;

  @include media('>=medium') {
    bottom: auto;
  }

  &__header {
    margin-bottom: 20px;
    text-align: right;
  }

  &__close {
    @include button($display: inline-flex);

    > .icon-close {
      width: 20px;
      fill: $gray;
    }
  }

  .map-filters {
    margin-bottom: 25px;
  }
}

.map-filter-modal__submit {
  @include blue-button($padding: 17px);
  width: 100%;
}

.map-filter {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;

  &__left {
    flex-basis: 22px;
    margin-right: 12px;

    display: flex;
    align-items: center;
  }

  &__right {
    flex: 1;
    line-height: 0;
  }

  &.azure .map-filter__input:checked {
    color: $azure;
  }

  &.watermelon .map-filter__input:checked {
    color: $watermelon;
  }

  &.marigold .map-filter__input:checked {
    color: $marigold;
  }

  &.green-haze .map-filter__input:checked {
    color: $green-haze;
  }

  &.salmon .map-filter__input:checked {
    color: $salmon;
  }

  &.brillant-rose .map-filter__input:checked {
    color: $brillant-rose;
  }

  &.governor-bay .map-filter__input:checked {
    color: $governor-bay;
  }

  &.coral-tree .map-filter__input:checked {
    color: $coral-tree;
  }

  &.niagara .map-filter__input:checked {
    color: $niagara;
  }
}

.map-filter__input {
  position: relative;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 22px;
  height: 22px;
  background-color: white;

  color: transparent;
  border: 2px solid $lightgray;

  transition: background-color 125ms ease;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;

    width: 2px;

    background-color: white;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    margin: auto;

    transition: transform 125ms cubic-bezier(.02,.55,.73,1.57);
  }

  &:before {
    height: 10px;

    left: 4px;
    bottom: 2px;

    transform: scale(0) rotate(36deg);
  }

  &:after {
    height: 6px;

    right: 5px;
    bottom: -2px;

    transform: scale(0) rotate(-50deg);
  }

  &:checked {
    transition: background-color 125ms ease;

    border-color: currentColor;
    background-color: currentColor;

    &:before {
      transform: scale(1) rotate(36deg);
    }

    &:after {
      transform: scale(1) rotate(-50deg);
    }
  }
}

.map-filter__label {
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 1.4;
  color: $darkgray;

  cursor: pointer;
}


// MARKER COLORS
.color--azure {
  color: $azure;
}

.color--watermelon {
  color: $watermelon;
}

.color--marigold {
  color: $marigold;
}

.color--green-haze {
  color: $green-haze;
}

.color--salmon {
  color: $salmon;
}

.color--brillant-rose {
  color: $brillant-rose;
}

.color--governor-bay {
  color: $governor-bay;
}

.color--coral-tree {
  color: $coral-tree;
}

.color--niagara {
  color: $niagara;
}
