{{set-body-class "no-scroll"}}
{{#modal-dialog
  overlayClass='summary-detail-modal__overlay'
  containerClass='summary-detail-modal'
  wrapperClass='summary-detail-wrapper'
  onClose=(action 'onClose')
  animatable=true
  overlayPosition='sibling'
}}
  <div class="summary-detail-modal__upper-right">
    <button {{action 'onClose'}} class="city-search-modal__close">
      {{svg-jar "close"}}
    </button>
  </div>

  <div class="summary-detail-modal__body">
    <h3 class="summary-detail-modal__head" data-test-summary-detail-title>
      {{@summary.type.label}}
    </h3>

    <h4 class="summary-detail-modal__subhead">
      <span>
        En Savoir Plus
      </span>
    </h4>

    <ul class="summary-detail-modal__list">
      <li>
        <a href="https://transformer.en-marche.fr" target="_blank" rel="noopener">
          On l’a dit on le fait
        </a>
      </li>
    </ul>
  </div>
{{/modal-dialog}}
