<div class="summary__left">
  {{svg-jar 'checkmark'}}
</div>
<div class="summary__right">
  <h3 class="summary-label" data-test-summary-label>
    {{{this.label}}}
  </h3>

  <p class="summary-data" data-test-summary-dek>
    {{{this.details}}}
  </p>
</div>
