.city-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  .city-subhead {
    @include subhead;
  }

  .city-heading {
    @include heading($margin-bottom: 10px);
  }

  .city-kicker {
    font-family: $font-roboto;
    font-size: 20px;
    font-weight: normal;
    color: $gray;
    margin: 10px 0 20px 0;
  }

  .city-nearby {
    font-size: 16px;
    font-weight: normal;
    font-family: $font-roboto;
    margin-bottom: 15px;
    margin-top: 10px;
    overflow: hidden;

    span {
      float: left;
      margin-top: 5px;
    }

    a {
      float: left;
      font-family: $font-roboto;
      background-color: #ebf4ff;
      color: #0496ff;
      border-radius: 13px;
      margin: 2px 5px;
      padding: 5px 12px;
      font-size: 14px;

    }
  }

  .city-summary {
    margin-bottom: 80px;

    &__subhead {
      @include subhead($margin-bottom: 25px);
    }

    &__grid {
      display: grid;
      row-gap: 25px;

      @include media('>=550px') {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 36px;
      }

      @include media('>=large') {
        column-gap: 68px;
        row-gap: 36px;
      }
    }
  }
}
