<div class="header-feedback__share">
  <div class="header-feedback__share-label">
    Partager
  </div>

  <div class="header-feedback__share-group">
    <HeaderToolbar::button
      @open={{action 'dialog' 'twitter' (hash
        text=@title
        via='enmarchefr'
      )}}
      @rsClass='twitter'
      data-test-share-twitter
    >
      <FaIcon @icon='twitter' @prefix='fab'/>
    </HeaderToolbar::button>

    <HeaderToolbar::button
      data-test-share-facebook
      @open={{action 'dialog' 'facebook'}}
      @rsClass='facebook'
    >
      <FaIcon @icon='facebook-f' @prefix='fab' />
    </HeaderToolbar::button>

    <HeaderToolbar::button
      data-test-share-telegram
      @open={{action 'dialog' 'telegram'}}
      @rsClass='telegram'
    >
      <FaIcon @icon='telegram-plane' @prefix='fab' />
    </HeaderToolbar::button>
  </div>
</div>
