<div class="newsletter-module">
  <h2 class="newsletter-module__subhead">Newsletter</h2>
  <h1 class="newsletter-module__title">Restez informé(e) des mises à jour des données de votre commune</h1>
  <form class="newsletter-module__form">
    <div class="form__group">
      <input placeholder="Votre adresse e-mail" type="text">
    </div>
    <button type="submit" class="newsletter-module__button">
      Valider
    </button>
  </form>
</div>
