<div class="home-header">
  <Logo/>
</div>

<h2 class="home-subhead">
  Le bilan des 2 ans du quinquennat
</h2>

<h1 class="home-heading">
  C’est arrivé près de chez vous
</h1>

<p class="home-body">
  Entrez votre code postale et voyez ce que le gouvernement a mis en place ces 2 dernières années près de chez vous
</p>

<CitySearch/>
