<div class="home">
  <header class="home-header">
    <Logo/>
  </header>

  <main>
    <h2 class="home-subhead">
      C’est arrivé près de chez vous
    </h2>

    <h1 class="home-heading">
      Le bilan des 2 ans du quinquennat
    </h1>

    <p class="home-body">
      Entrez votre code postale et voyez ce que le gouvernement a mis en place ces 2 dernières années près de chez vous
    </p>

    <CitySearch @onSubmit={{this.onSubmit}}/>
  </main>
</div>
