<div class="l-home">
  <header class="home-header wrapper__l">
    <Logo/>
  </header>

  <main>
    <h2 class="home-subhead">
      Les 2 ans du quinquennat
    </h2>

    <h1 class="home-heading">
      Ce qui a changé près de chez vous
    </h1>

    <p class="home-body">
      Entrez votre code postal pour voir ce qui a changé ces 2 dernières années près de chez vous
    </p>

    <CitySearch @onSubmit={{this.onSubmit}}/>
  </main>


  {{svg-jar 'cloud-small'}}

  {{svg-jar 'cloud-big'}}

  <div class="home-cityscape">
    {{svg-jar 'city'}}
  </div>
</div>
